$accent-color: #e93835;

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a,
a:active,
a:visited {
	color: rgba(255, 255, 255, 0.6);

	&:hover {
		color: #fff;
	}
}

.top-banner {
	width: 100%;
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		width: 100%;
		filter: grayscale(70%);
	}

	.overlay {
		width: 100%;
		position: relative;
		padding: 40px 0;
		background-color: rgba(253, 50, 46, 0.769);
		color: #fff;
		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;

		.heading-wrapper {
			h1 {
				font-size: 2.4rem;
				font-weight: 700;
			}

			h2 {
				margin-top: 7px;
				font-size: 0.9rem;
				font-weight: 400;
				color: rgba(255, 255, 255, 0.6);
			}
		}

		.stats {
			width: 70%;
			margin: 60px 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.stat-wrapper {
				.numbers {
					font-size: 1.8rem;
				}

				.lable {
					font-size: 0.9rem;
					margin-top: 7px;
					color: rgba(255, 255, 255, 0.6);
				}
			}
		}

		.date {
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

.info-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;

	.search-wrapper {
		width: 65%;
		display: flex;
		margin-bottom: 30px;

		input {
			width: 100%;
			margin-right: 20px;
			padding: 0 15px;
			color: #fff;
			background-color: #242424;
			font-size: 1.1rem;
			border: none;
			outline: none;
		}
	}
}

.country-stats {
	background-color: #181818;
	min-height: 100vh;
	width: 100%;
	padding: 50px 0;
	color: #fff;

	.list-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.table-header {
			background-color: $accent-color;
			font-weight: 600;
			font-size: 1.05rem;
			letter-spacing: 1px;
		}
	}

	.country-wrapper {
		min-height: 60px;
		width: 65%;
		display: flex;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);

		.name,
		.confirmed,
		.recovered,
		.deaths {
			width: 20%;
			line-height: 60px;
			padding-left: 20px;
		}

		.name {
			width: 30%;
			line-height: unset;
			@include flexCenter();
			justify-content: flex-start;
		}

		.flag {
			width: 10%;
			@include flexCenter();
		}
	}
}

@media screen and (max-width: 700px) {
	.top-banner {
		img {
			width: unset;
			height: 100%;
		}

		.overlay {
			.stats {
				flex-direction: column;

				.stat-wrapper {
					margin: 15px 0;
				}
			}
		}
	}

	.info-container {
		position: relative;
		overflow-y: scroll;
		.search-wrapper {
			width: 90%;
		}
	}

	.country-stats {
		.country-wrapper {
			width: 150%;
		}

		.list-container {
			padding: 0 10px;
			position: relative;
			overflow-y: scroll;
			align-items: flex-start;

			.table-header {
				font-size: 1rem;
				font-weight: normal;
			}
		}
	}
}

/*  Select options styles  */

/* Reset Select */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #242424;
	background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
	display: none;
}

/* Custom Select */
.select {
	position: relative;
	display: flex;
	height: 50px;
	width: 400px !important;
	line-height: 3;
	overflow: hidden;
}

select {
	flex: 1;
	padding: 0 15px;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	font-size: 1.1rem;

	option {
		margin: 10px;
		color: rgba(255, 255, 255, 0.6);
		padding: 5px;
		font-size: 1rem !important;
	}
}

/* Arrow */
.select::after {
	content: '\25BC';
	position: absolute;
	height: 100%;
	//top: 10px;
	right: 0;
	padding: 0 1em;
	background: #242424;
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}

/* Transition */
.select:hover::after {
	color: $accent-color;
}
