* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a,
a:active,
a:visited {
	color: rgba(255, 255, 255, 0.6);

	&:hover {
		color: #fff;
	}
}

.top-banner {
	width: 100%;
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		width: 100%;
		filter: grayscale(70%);
	}

	.overlay {
		width: 100%;
		position: relative;
		padding: 40px 0;
		background-color: rgba(253, 50, 46, 0.769);
		color: #fff;
		text-align: center;

		.heading-wrapper {
			h1 {
				font-size: 2.4rem;
				font-weight: 700;
			}

			h2 {
				margin-top: 7px;
				font-size: 0.9rem;
				font-weight: 400;
				color: rgba(255, 255, 255, 0.6);
			}
		}

		.stats {
			width: 100%;
			margin: 60px 0;
			display: flex;
			justify-content: center;

			.stat-wrapper {
				//background-color: lightcoral;

				.numbers {
					font-size: 1.8rem;
				}

				.lable {
					font-size: 0.9rem;
					margin-top: 7px;
					color: rgba(255, 255, 255, 0.6);
				}

				&:nth-child(2) {
					margin: 0 250px;
				}
			}
		}

		.date {
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

.info-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.table-header {
		background-color: #e93835;
	}
}

.country-stats {
	background-color: #181818;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;

	.country-wrapper {
		height: 60px;
		width: 60%;
		//background-color: lightgreen;
		display: flex;

		.name,
		.confirmed,
		.recovered,
		.deaths {
			width: 22.5%;
			line-height: 60px;
			padding-left: 10px;
		}

		.flag {
			width: 10%;
			//background-color: lightblue;
		}

		.name {
			//background-color: lightcoral;
		}

		.confirmed {
			//background-color: lightgoldenrodyellow;
		}

		.recovered {
			//background-color: lightsalmon;
		}

		.deaths {
			//background-color: lightseagreen;
		}
	}
}
